html, body {
margin : 0;
padding : 0;
}
body {
font : 73% "Trebuchet MS", Arial,  Helvetica, Tahoma, sans-serif;
background : #fff;
color : #555;
}
			/*WRAP*/
#wrap {
width: 100%;
margin-left: auto;
margin-right: auto;
padding: 0;
color : #555;
background: #fff url(images/wrap_bg.jpg) repeat-x;
}
			/*TOP BANNER*/
#masthead {
height:110px;
padding: 0;
margin-bottom: 0;
}
			/*MAIN CONTAINER*/
#container {
width: 770px;
border: 0px solid #aaa;
margin-left: auto;
margin-right: auto;
margin-top:30px;
padding: 0;
line-height: 1.8em;
}
			/*TOP NAVIGATION*/
#menucontainer {
position:relative;
height:56px;
color:#E0E0E0;
background:#143D55;
width:100%;
font-family:Helvetica,Arial,Verdana,sans-serif;
}

#menunav {
position:relative;
height:33px;
font-size:12px;
text-transform:uppercase;
font-weight:bold;
background:#fff
padding:0 0 0 20px;
}

#menunav ul {
margin:0;
padding:0;
list-style-type:none;
width:auto;
float:left;
}

#menunav ul li {

display:block;
float:left;
padding:0 1px;
}

#menunav ul li a {
display:block;
float:left;
color:#EAF3F8;
text-decoration:none;
padding:0 0 0 20px;
height:33px;}

#menunav ul li a span {
padding:12px 20px 0 0;
height:21px;
float:left;

}

#menunav a:hover{
    background-color: gray;
    color: #101010;